<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Angular & Bootstrap</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>

      <a class="nav-item nav-link" routerLink="/oneway">1-Way</a>
      <a class="nav-item nav-link" routerLink="/twoway">2-Way</a>
      <a class="nav-item nav-link" routerLink="/reactive">Reactive Forms</a>
      <a class="nav-item nav-link" routerLink="/template">Template Driven Forms</a>
      <a class="nav-item nav-link" routerLink="/validations">Validations</a>


      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/chravikishore" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/chravikishore2" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@chravikishore" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>